# ide

**/.vscode/

# python builds

**/build/
**/dist/
**/*.egg-info/

# cpython cache files

**/__pycache__/

# pytest files

**/.pytest_cache
.coverage
coverage.xml

# pyenv

.python-version

# tox

**/.tox/

# setuptools scm

**/_version.py

# virtualenv

**/venv/

# misc

.env
TODO
