langchain==0.2.3
langchain-community==0.2.1
langchain-huggingface==0.0.1
huggingface-hub==0.23.2
tiktoken==0.7.0  # needed for FAISS
spacy==3.7.4
# spacy core model: en_core_web_sm v3.7.1
en_core_web_sm@https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz#egg=en_core_web_sm
spacytextblob==4.0.0
# python -m textblob.download_corpora
fastcoref==2.1.6
faiss-cpu==1.8.0
